{
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 120,
  "vueIndentScriptAndStyle": false,
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "none"
}
